.selectMinutes{
    display: grid;
    grid-template-columns: repeat(3, 140px);
    row-gap: 22px;
    column-gap: 20px;
}

.selectMinutes h1{
    grid-column: 1/4;
    color: #161932;
    font-family: var(--font);
    font-size: 0.8125rem;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0px;
}

@media(max-width: 700px){
    .selectMinutes{
        row-gap: 26px;
    }
}

@media(max-width: 600px){
    .selectMinutes{
        grid-template-columns: 280px;
        row-gap: 8px;
    }

    .selectMinutes h1{
        font-size: 0.6875rem;
        grid-column: 1/2;
        margin-bottom: 10px;
        justify-self: center;
        letter-spacing: 4.231px;
    }

}