.settings_open{
    width: 27px;
    height: 30px;
    padding: 0px;    
    mask-image: url('./icons/icon-settings.svg');
    -webkit-mask-image: url('./icons/icon-settings.svg');
    mask-size: 27px 28px;
    -webkit-mask-size: 27px 28px;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: rgba(215, 224, 255, 0.5);
    cursor: pointer;
    border: none;
    flex-shrink: 0;
}

.settings_open:hover{
    background-color: #D7E0FF;
}








.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: var(--closest);
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
}

.dialog{
    transform: scale(0);
    width: 540px;
    height: 464px;
    padding: 34px 0px 0px 0px;
    border: none;
    border-radius: 25px;
    background-color: #FFF;
    position: relative;
}

.dialog > hr{
    width: 100%;
    height: 1px;
    margin: 0px;
    border: none;
    background-color: #E3E1E1;
    margin-bottom: 24px;
}


.dialog_form{
    display: flex;
    flex-direction: column;
    gap: 19px;   
    border: none;
    padding: 0px 38px 0px 40px;
}

.dialog_submit{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: auto;
    width: 140px;
    height: 53px;
    padding: 0px;
    border-radius: 26.5px;
    background-color: #F87070;
    border: none;
    color: #FFF;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
}

.dialog_submit::after{
    content: '';    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: white;
    border-radius: 26.5px;
    width: 140px;
    height: 53px;
}

.dialog_submit:hover {
    background-color: rgba(248, 112, 112, 0.8);
}

.dialog_form > section{
    margin-bottom: 5px;
}

.dialog_form > hr{
    width: 100%;
    height: 1px;
    margin: 0px;
    border: none;
    opacity: 0.1;
    background-color: #161932;
}

.dialog_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 38px 0px 40px;
    margin-bottom: 31px;
}

.dialog_title h1{
    margin: 0px;
    color: #161932;
    font-family: var(--font);
    font-size: 1.75rem;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
}

.dialog_close{
    width: 20px;
    height: 20px;
    border: none;
    padding: 0px;
    background-color: rgba(30, 33, 63, 0.5);
    cursor: pointer;
    mask-image: url('./icons/icon-close.svg');
    -webkit-mask-image: url('./icons/icon-close.svg');
    mask-size: 14px 14px;
    -webkit-mask-size: 14px 14px;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}


.dialog_close:hover{
    background-color: #1E213F;
}

@media(max-width: 700px){
    .dialog_form{
        gap: 24px;
    }

    .dialog_form > section{
        margin-bottom: 0px;
    }
}

@media(max-width: 600px){
    .dialog{
        width: 327px;
        height: 549px;
        border-radius: 15px;
        padding-top: 24px;
    }

    .dialog_form{
        padding: 0px 24px 0px 24px;
    }

    .dialog_title{
        padding: 0px 24px 0px 24px;
        margin-bottom: 28px;
    }

    .dialog_title h1{
        font-size: 1.25rem;
    }

    .dialog > hr{
        margin-bottom: 24px;
    }

    .dialog_submit{
        bottom: -26px;
    }

}